<h1 style="text-align: center">Welcome to GitHub Logger</h1>
<h3 style="text-align: center">Click on the button to log in with GitHub</h3>
<a style="width: 80%; text-align: center; margin-left: 10%; margin-top: 30px" href="/login" class="waves-effect waves-light btn-large red lighten-2">Log in with GitHub</a>