{{!-- <a href="/user/basic_credencials">User Credencials</a>
<a href="/user/repo">Repositories</a> --}}
<h2 style="margin: 0 25px">You succesfuly logged in. Please choose one of the folowing options</h2>
<div class="row">
  <div class="col s6">
    <a style="width: 100%; margin-top: 150px;" href="/user/basic_credencials" class="waves-effect waves-light btn-large red lighten-2">User Credencials</a>
  </div>
  <div class="col s6">
    <a style="width: 100%; margin-top: 150px;" href="/user/repo" class="waves-effect waves-light btn-large red lighten-2">Repositories</a>
  </div>
</div>